<br>
<div class="container" float="right">
  {{#linkTo 'index' role="button" class="btn btn-primary"}}Home{{/linkTo}}
</div>
<br>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">{{question.text}}<small> by {{question.author}}</small></h3>
  </div>
  <div class="panel-body">
    <u>Additional Notes:</u>
    <br>
    {{question.notes}}
  </div>
</div>
